<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Daily Audiophile</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="robots" content="nofollow, noarchive">
  <meta name="description" content="A modern take on the RSS landing page, tailored for audiophiles">
  <meta name="keywords" content="rss, audiophile">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.7/css/bootstrap.min.css" integrity="sha512-fw7f+TcMjTb7bpbLJZlP8g2Y4XcCyFZW8uy8HsRZsH/SwbMw0plKHFHr99DN3l04VsYNwvzicUX/6qurvIxbxw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <style>
    a {
      text-decoration: none;
      color: #2361a1;
    }

    tr td {
      padding-left: 0 !important;
    }

    tr th {
      padding-left: 0 !important;
    }

    td a {
      color: #000;
    }

    strong em {
      color: #ff8a00;
      font-size: 0.6em;
    }

    .feed {
      width: 300px;
      display: inline-block;
      float: unset;
    }
  </style>
</head>

<body class="py-3">
  <div class="p-3">
    <div class="row pt-3 mt-5 mb-3">
      <div class="col-md mx-3">
        <h1>DAILY AUDIOPHILE</h1>
      </div>
    </div>
    <div class="row py-3">
      <% data['feeds'].each do |name, info| %>
      <div class="feed m-3">
        <table class="table">
          <thead>
            <tr>
              <th scope="col">
                <h4><a href="<%= info['home'] %>" target="_blank"><%= name %></a></h4>
              </th>
            </tr>
          </thead>
          <tbody>
            <% info['posts'].each do |post| %>
            <tr>
              <td><a href="<%= post['link'] %>" target="_blank"><%= post['title'] %></a><% if post['new'] == true %><strong><em>&nbsp;&nbsp;&nbsp;NEW</em></strong><% end %></td>
            </tr>
            <% end %>
          </tbody>
        </table>
      </div>
      <% end %>
    </div>
    <div class="row py-2"></div>
    <div class="row p-0">
      <% data['extra_links'].each do |name, link| %>
      <div class="feed mx-3">
        <h6><a href="<%= link %>" target="_blank"><%= name %></a></h6>
      </div>
      <% end %>
    </div>
  </div>
</body>

</html>
